---
import About from '@/components/sections/about.astro';
import Education from '@/components/sections/Education.astro';
import Experience from '@/components/sections/Experience.astro';
import Hero from '@/components/sections/Hero.astro';
import Layout from '@/layouts/Layout.astro';
import Projects from '@/components/sections/Projects.astro';
import Skills from '@/components/sections/Skills.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';


---

<Layout title="Minimalist Portafolio">
	<main>
		<section>

			<Hero />
			<About />
			<Experience />
			<!-- <Education /> -->
			<Skills />
			<Projects />
		</section>

	</main>
	<KeyboardManager />
</Layout>

<style>
	main{
		padding: 4px;
		margin:auto;
		width: 100%;
	}
	section{
		max-width: 700px;
		margin: 0 auto 72px;
	}
</style>
